.banner {
    height: 20vh;
}

.fill {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
    vertical-align: left;
}
img.rounded {
    border-radius: 6px!important;
}
.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

